.body{
    padding: 0%;
    margin: 0 !important;
    font-family: 'Lato', sans-serif;
}

.container{
    background-color: grey;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_frame{
    background-color: white;
    height: 100vh;
    width: 25vw;
    position: relative;
}

.top_nav{
    background-color: white;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.25);
    padding: 10px;
}

.top_nav_btn{
    text-align: center;
    background-color: #004c4c;
    width: 20%;
    font-size: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
}

.intro_text{
    width: 50%;
    font-size: 12px;
}

.intro_text p{
    font-size: 12px;
    color: rgb(151, 150, 150);
}

.intro_text h3{
    color: #004c4c;
}

.frame_container{
    padding: 10px 25px;

}
.input_container{
    margin-top: 4rem;
}
label{
    font-size: 13px;
    font-weight: bold;
    color: #004c4c;
}

input[type="text"],
input[type="tel"],
input[type="password"]{
    border: 1px solid black;
    display: block;
    font-size: 11px;
    padding-left: 5%;
    width: 95%;
    height: 45px;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 10px;
    background-color: #e8fffc;
}

.register_bn{
    background-color:#004c4c;
    color: white;
    padding: 20px 20px;
    border-radius: 4px;
    position: absolute;
    bottom: 8rem;
    box-shadow: none;
    border:none;
    width: 88%;
}


.user_card{
    background-color: white;
    border-radius: 4px;
    min-height: 20vh;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    padding: 10px 0;
    
}

.home_container{
    padding: 25px;
}

.top_info{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px; 
}

.top_info h3{
    font-size: 18px;
    color: #004c4c;
    font-weight: bold;
    margin-bottom: 1px !important;
    margin-top: 0;
}

.top_info p{
    font-size: 13px;
    color: #8f8b8b;
    margin-bottom:3px ;
   
}

.fun_facts{
    background-color: #004c4c;
    padding: 1px 15px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 35px;
    width: 80px;
    font-size: 12px;

}

.horizontal_line{
    opacity: 0.4;
}

.info_bottom{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
}

.last_order p{
    font-size: 12px;
    margin-bottom: 2px;
    color: #aaaaaa;
    font-weight: 500;

}

.last_order div{
    background-color: #e8fffc;
    color: #004c4c;
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px;
    padding: 10px 20px;
}

.info_bottom{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.ranking_container{
    padding: 20px;
    min-height: 20vh;
    border: 2px solid #004c4c;
    border-radius: 4px;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.ewa_ranking h3{
    color: #004c4c;
    font-weight: bold;
    margin: 0;
    font-size: 14px;

}

.ewa_ranking p{
    color: rgb(184, 184, 184);
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 11px;

}

.ewa_ranking div{
    color: white;
    background-color: #004c4c;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;

}
.ewa_point_score p{
    text-align: center;
}

.ewa_point_score p{
    color: black;
    margin: 0;
    font-size: 12px;

}

.ewa_point_score .score{
    color: #004c4c;
    font-weight: bold;
    font-size: 40px;
    background-color: #e8fffc;
    padding: 5px 10px;
    text-align: center;
}

.ewa_point_score span{
        color: grey;
        font-size: 12px;
}

.order_container{
    padding: 20px;
    min-height: 10vh;
    border-radius: 4px;
    margin-top:2rem;
    display: flex;
    justify-content: space-between;
    background-color: #004c4c;
}

.place_order h5{
    color: #e8fffc;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 14px;
}

.place_order p{
    color: #e8fffc;
    margin: 0;
    font-size: 12px;
}

.fun_facts{
    background-color: #004c4c;
    padding: 1px 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 35px;
    width: 80px;
    font-size: 12px;
}

.horizontal_line{
    opacity: 0.4;
}

.info_bottom{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.last_order p{
    font-size: 12px;
    margin-bottom: 2px;
    color: #aaaaaa;
    font-weight: 500;
}

.last_order div{
    background-color: #e8fffc;
    color: #004c4c;
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px;
    padding: 10px 20px;
}

.ranking_container{
    padding: 20px;
    min-height: 10vh;
    border: 2px solid #004c4c;
    border-radius: 4px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.ewa_ranking h3{
    color: #004c4c;
    font-weight: bold;
    margin-top: 0;
    font-size: 14px;
}

.ewa_ranking p{
    margin: 0;
    font-size: 11px;
    color: rgb(184, 184, 184);
}

.ewa_ranking div{
    background-color: #004c4c;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.ewa_point_score{
    text-align: center;
}

.ewa_point_score p{
    font-size: 12px;
    color: black;
    margin: 0;
}

.ewa_point_score .score{
    font-size: 40px;
    font-weight: bold;
    color: #004c4c;
    background-color: #e8fffc;
    padding: 5px 15px;
    text-align: center;
}

.ewa_point_score .score h5{
    font-size: 12px;
    color: gray;
    margin: 0;
    font-weight: normal;
}

.ewa_point_score .score p{
    color: #004c4c;
}

.order_container{
    padding: 20px;
    min-height: 10vh;
    border-radius: 4px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #004c4c;
}

.place_order h5{
    color: #e8fffc;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 14px;
}

.place_order p{
    font-size: 12px;
    color: #e8fffc;
    margin: 0;
}

.plate{
    align-items: center;
    justify-content: center;
}

.special{
    padding: 20px;
    min-height: 10vh;
    border: 2px solid #004c4c;
    border-radius: 4px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #e8fffc;
}

.special_order h5{
    color: #004c4c;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 14px;
}

.special_order p{
    font-size: 12px;
    color: #004c4c;
    margin: 0;
}

.bottom_nav{
    background-color: #004c4c;
    padding: 20px;
    box-shadow: none;
}
